<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="RutaImagenesArticulos" value=""/>
    <add key="eMailFrom" value="jdiego9708@gmail.com"/>
    <add key="eMailTo" value="jdiego9708@gmail.com"/>
    <add key="eMailSMTP" value="smtp.gmail.com"/>
    <add key="eMailPass" value="JDiego970831@"/>
    <add key="portEmail" value="587"/>
    <add key="ConexionBaseDeDatos" value="conexionLocalBD"/>
  </appSettings>

  <connectionStrings>

    <add name="ConexionBD" connectionString="Data Source=;Initial Catalog=;User ID=sa;Password="
        providerName="System.Data.SqlClient" />

    <add name="conexionLocalBD" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SISPrendas;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
     providerName="System.Data.SqlClient"></add>

  </connectionStrings>

</configuration>